<p>navbar</p>

<div class="container mt-5">
  <app-card title="Mis Bootcamps">
    <div class="card mb-2" *ngFor="let bootcamp of bootcamps">
      <div class="card-body d-flex justify-content-between and align-items-center">
        <div class="description">
          <h5 class="card-title">{{ bootcamp.tittle }}</h5>
          <p>{{ bootcamp.description }}</p>
        </div>
        <div class="buttons">
          <a (click)="edit()" class="btn btn-warning">Edit</a>
          <a (click)="delete()" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </app-card>
</div>
