<div class="full-width d-flex justify-content-center and align-items-center">

<app-card [title]="'Registrate'">
  <form class="row g-3">

    <div class="col-md-6">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email">
    </div>

    <div class="col-md-6">
      <label for="linkedin" class="form-label">LinkedIn</label>
      <input type="text" class="form-control" id="linkedin">
    </div>

    <div class="col-md-6">
      <label for="country" class="form-label">Pais</label>
      <select id="country" class="form-select">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>

    <div class="col-md-6">
      <label for="web" class="form-label">Repositorio / Web</label>
      <input type="text" class="form-control" id="web">
    </div>

    <div class="col-md-6">
      <label for="password" class="form-label">Contraseña</label>
      <input type="text" class="form-control" id="password">
    </div>

    <div class="col-md-6">
      <label for="password2" class="form-label">Repetir Contraseña</label>
      <input type="text" class="form-control" id="password2">
    </div>

    <div class="col-12">
      <label for="address" class="form-label">Dirección</label>
      <input type="text" class="form-control" id="address" placeholder="Apartment, studio, or floor">
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</app-card>
</div>
