
.menu {
    color: #d10070;
    text-decoration: none;
    
    cursor: pointer;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.text{
    height: 50px;
}
.btn-anotarse{
    padding: 2px 6px  ;
    font-size: 10px;
    background-color: #d10070;
    border: none;
    color: #fff;
    border-radius: 2px;
}
.btnlink{
 margin-top: 13px;
}

// .description {
    
//     width: 100vw;
//     height: 69px;
    
//     background: #FFFFFF;
//     box-sizing: border-box;
    
//     }
// .description {
//     position: absolute;
//     width: 500px;
// }

