<div class="container mt-5">
    <app-card title="Lista de Bootcamps">
      <ng-container *ngFor="let item of bootcamps$ | async">
        <div class="card-body d-flex justify-content-between and align-items-center">
          <div class="description">
            <h4>{{ item.title }}</h4>
            <p>{{ "Patrocinado por " + item.company?.nameCompany }}</p>
            <p>{{ item.description }}</p>
          </div>
          <!-- <div class="buttons">
            <button class="btn" (click)="register(item)" *ngIf="!item.suscribe">Apuntarse</button>
            <button class="btn" (click)="unsuscribe(item)" *ngIf="item.suscribe">Salir</button>
          </div> -->
        </div>
      </ng-container>
    </app-card>
  </div>



