<div class="container">

    <div class="row ">
        <span>Empresa 1</span>
        <div class="col-sm-8 col-md-7 col-lg-12 bg-light mb-4 text d-flex justify-content-between">
            <span>Descripcion del bootcamp</span>
            <div class="btnlink">
                <button type="button" class="btn-anotarse">Anotarse</button>
            </div>
        </div>
        <span>Empresa 1</span>
        <div class="col-sm-8 col-md-7 col-lg-12 bg-light mb-4 text d-flex justify-content-between">
            <span>Descripcion del bootcamp</span>
            <div class="btnlink">
                <button type="button" class="btn-anotarse">Anotarse</button>
            </div>
        </div>
        <span>Empresa 1</span>
        <div class="col-sm-8 col-md-7 col-lg-12 bg-light mb-4 text d-flex justify-content-between">
            <span>Descripcion del bootcamp</span>
            <div class="btnlink">
                <button type="button" class="btn-anotarse">Anotarse</button>
            </div>
        </div>
        <span>Empresa 1</span>
        <div class="col-sm-8 col-md-7 col-lg-12 bg-light mb-4 text d-flex justify-content-between">
            <span>Descripcion del bootcamp</span>
            <div class="btnlink">
                <button type="button" class="btn-anotarse">Anotarse</button>
            </div>
        </div>
    </div>

</div>


