<div class="d-flex justify-content-center and align-items-center">
    <app-card [title]="'Editar Bootcamp'" class="m-3">
      <form
        class="row g-3"
        [formGroup]="formEditBootcamp"
        (ngSubmit)="editBootcamp()"
        autocomplete="off"
      >
        <div class="col-md-6">
          <label class="form-label">Nombre</label>
          <input class="form-control" formControlName="title" autofocus />
          <span class="form-text text-danger" *ngIf="campoInvalido('title')"
            >{{campoInvalido('title').msg}}</span
          >
        </div>
  
        <div class="col-md-6">
          <label class="form-label">Empresa</label>
          <select class="form-select" formControlName="idCompany">
            <option *ngFor="let el of listCompanies | async" [value]="el.idDoc">
              {{ el.nameCompany }}
            </option>
          </select>
          <span class="form-text text-danger" *ngIf="campoInvalido('idCompany')"
            >{{campoInvalido('idCompany').msg}}</span
          >
        </div>
  
        <div class="col-md-6">
          <label class="form-label">Total de miembros</label>
          <input
            type="number"
            class="form-control"
            formControlName="totalMembers"
          />
          <span
            class="form-text text-danger"
            *ngIf="campoInvalido('totalMembers')"
            >{{campoInvalido('totalMembers').msg}}</span
          >
        </div>
  
        <div class="col-md-6">
          <label class="form-label">Duración</label>
          <input
            class="form-control"
            placeholder="Tiempo estimado"
            formControlName="duration"
          />
          <span class="form-text text-danger" *ngIf="campoInvalido('duration')"
            >{{campoInvalido('duration').msg}}</span
          >
        </div>
  
        <div class="col-12">
          <label class="form-label">Descripción</label>
          <textarea
            type="text"
            class="form-control"
            rows="5"
            name="description"
            formControlName="description"
          ></textarea>
          <span class="form-text text-danger" *ngIf="campoInvalido('description')"
            >{{campoInvalido('description').msg}}</span
          >
        </div>
  
        <div class="d-grid gap-2 d-md-block">
          <button type="submit" class="btn">Editar</button>
          <button type="button" class="btn m-md-2" routerLink="/">Cancelar</button>
        </div>
      </form>
    </app-card>
  </div>
