/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  color: #d10070;
}

.full-width {
  min-height: 100vh;
}

.btn {
  background-color: #d10070;
  border-color: #d10070;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-radius: 5px;
  // margin-right: 5px;
  // margin-left: 5px;
}

.btn:focus {
  box-shadow: none;
  background-color: #eb1889;
  outline: none !important;
}

.btn:hover {
  background-color: #eb1889;
  border-color: #eb1889;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #d10070;
}

a:hover {
  color: #eb1889;
}
