<div class="full-width d-flex justify-content-center and align-items-center">
  <app-card [title]="'Registro de Desarrolladores'" class="m-3 w-50">
    <form
      class="row g-3 needs-validation"
      [formGroup]="form"
      (ngSubmit)="onSubmit()"
      autocomplete="off"
    >
      <div class="col-md-6">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" />
        <span class="form-text text-danger" *ngIf="campoInvalido('email')"
          >Email invalido</span
        >
      </div>

      <div class="col-md-6">
        <label class="form-label">LinkedIn</label>
        <input type="text" class="form-control" formControlName="linkedIn" />
        <span class="form-text text-danger" *ngIf="campoInvalido('linkedIn')"
          >Campo invalido</span
        >
      </div>

      <div class="col-md-6">
        <label class="form-label">Nombres</label>
        <input type="text" class="form-control" formControlName="name" />
        <span class="form-text text-danger" *ngIf="campoInvalido('name')"
          >Campo invalido</span
        >
      </div>

      <div class="col-md-6">
        <label class="form-label">Apellidos</label>
        <input type="text" class="form-control" formControlName="lastName" />
        <span class="form-text text-danger" *ngIf="campoInvalido('lastName')"
          >Campo invalido</span
        >
      </div>

      <div class="col-md-6">
        <label class="form-label">Contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
        />
        <span class="form-text text-danger" *ngIf="campoInvalido('password')"
          >Campo invalido</span
        >
      </div>

      <div class="col-md-6">
        <label class="form-label">Repetir Contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="password2"
        />
        <span class="form-text text-danger" *ngIf="campoInvalido('password2')"
          >Las contraseñas deben ser iguales</span
        >
      </div>

      <div class="col-md-6">
        <label class="form-label">Repositorio</label>
        <input type="text" class="form-control" formControlName="repository" />
        <span class="form-text text-danger" *ngIf="campoInvalido('repository')"
          >Campo invalido</span
        >
      </div>

      <div class="col-md-6">
        <label class="form-label">País</label>
        <select class="form-select" formControlName="country">
          <option value="" selected>Seleccione un pais</option>
          <option *ngFor="let country of countries" [value]="country.key">
            {{ country.value }}
          </option>
        </select>
        <span class="form-text text-danger" *ngIf="campoInvalido('country')"
          >Campo invalido</span
        >
      </div>

      <div class="col-md-5">
        <label class="form-label">Fecha Nacimiento</label>
        <input type="date" class="form-control" formControlName="dateBirth" />
        <span class="form-text text-danger" *ngIf="campoInvalido('dateBirth')"
          >Campo invalido</span
        >
      </div>

      <div class="col-md-7">
        <label class="form-label">Breve presentación</label>
        <input
          type="text"
          class="form-control"
          formControlName="userDescription"
        />
        <span class="form-text text-danger" *ngIf="campoInvalido('userDescription')"
          >Campo invalido</span
        >
      </div>

      <div class="d-grid gap-2 d-md-block">
        <button type="submit" class="btn btn-primary">Registrar</button>
        <button type="button" class="btn" routerLink="/auth/signin">Cancelar</button>
      </div>
    </form>
  </app-card>
</div>
